/* Login Page */
.signin{
    -fx-background-color: #beffd9;
}

.signin:hover{
    -fx-background-color: #a4ddbc;
    -fx-text-fill:black;
    -fx-font-weight:bold;
}

/* Checkout Page */
.checkout{
    -fx-background-color: #beffd9;
}

.checkout:hover{
    -fx-background-color: #a4ddbc;
    -fx-text-fill:black;
}

/* Catalogue Page */
.checkbox{
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

